@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0" class="rz-p-3">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0.5rem">
                <RadzenIcon Icon="account_tree" IconStyle="IconStyle.Primary" Style="font-size: 2rem;" />
                <RadzenText TextStyle="TextStyle.H5" class="rz-mb-0" Style="color: var(--rz-primary);">
                    LOD Case Management
                </RadzenText>
            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>
    
    <RadzenSidebar @bind-Expanded="@sidebarExpanded" Style="width: 250px;">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Informal LOD" Icon="assignment" Path="/informal-lod" />
            <RadzenPanelMenuItem Text="Formal LOD" Icon="gavel" Path="/formal-lod" />
            <RadzenPanelMenuItem Text="About" Icon="info" Path="/about" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

<RadzenNotificationService />
<RadzenDialogService />
<RadzenContextMenuService />
<RadzenTooltipService />
