@inherits LayoutComponentBase

<div class="page">
    <nav class="nav-menu">
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="informal-lod">Informal LOD</NavLink>
        <NavLink href="formal-lod">Formal LOD</NavLink>
        <NavLink href="about">About</NavLink>
    </nav>

    <main>
        @Body
    </main>
</div>
